<h1 mat-dialog-title>{{ path }}</h1>
<mat-dialog-content>
  <mat-form-field>
    <mat-select [(value)]="language">
      <mat-option *ngFor="let l of languages" [value]="l">
        {{l}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="theme">
      <mat-option *ngFor="let t of themes" [value]="t">
        {{t}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ace-editor [(text)]="fileContent" [mode]="language" [theme]="theme"></ace-editor>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="save()" color="primary">{{'Save' | translate}}</button>
  <button mat-button (click)="cancel()">{{ 'Cancel' | translate }}</button>
</mat-dialog-actions>
