.tree-invisible {
  display: none;
}

ul {
  padding-left: 20px;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.clipped {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
