<div [ngClass]="'wrapper-' + display">
  <mat-card [draggable]="true" (dragstart)="drag($event, node)" (drop)="drop($event, node)" (dragover)="allowDrop($event, node)"
    *ngFor="let node of sorted(currentNode)" (click)="clickOn(node)" (dblclick)="open(node)" (contextmenu)="openMenu($event, menuTrigger, node)"
    [ngClass]="classFor(node)" [class.selected]="isSelected(node)" (dragenter)="dragEnter($event, node)" (dragleave)="dragLeave($event, node)"
    [class.drop]="dropPath === node.path">
    <mat-icon *ngIf="!node.type.startsWith('image')">{{iconFor(node)}}</mat-icon>
    <span *ngIf="node.type.startsWith('image')" class="image-wrapper">
      <img [src]="urlFor(node)">
    </span>
    <span class="node-name">{{node.name}}</span>
    <span [matMenuTriggerFor]="rootMenu" [matMenuTriggerData]="{element: node}" #menuTrigger="matMenuTrigger"></span>
  </mat-card>
</div>

<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-element="element">
    <button mat-menu-item (click)="decrypt()">
      <mat-icon>launch</mat-icon>
      <span>{{ 'Decrypt' | translate }}</span>
    </button>

    <button mat-menu-item (click)="view(element)" *ngIf="element.type.startsWith('image') || element.type.startsWith('video')">
      <mat-icon>image</mat-icon>
      <span>{{ 'View' | translate }}</span>
    </button>

    <button mat-menu-item (click)="setPath(element.path)" *ngIf="element.type.startsWith('inode')">
      <mat-icon>folder_open</mat-icon>
      <span>{{ 'Open' | translate }}</span>
    </button>

    <button mat-menu-item (click)="edit(element)" *ngIf="isText(element)">
      <mat-icon>code</mat-icon>
      <span>{{ 'Edit' | translate }}</span>
    </button>

    <button mat-menu-item (click)="rename(element)">
      <mat-icon>edit</mat-icon>
      <span>{{ 'Rename' | translate }}</span>
    </button>
    <button mat-menu-item (click)="remove()">
      <mat-icon>delete</mat-icon>
      <span>{{ 'Delete' | translate }}</span>
    </button>
  </ng-template>
</mat-menu>
